 body, html, .container-fluid, .row {
         height: 100%;
 }

.navlink {
	color: white;
}

.navlink:hover{
	font-weight: bold;
	text-decoration:  none;
}

.navlink:focus {
	text-decoration:  none;
}


.row {
	color: white;
	text-align: center;
}

.col-md-6 {
	height: 100%;
}

.col-md-3 {
	height: 100%;
}

.navcol {
	background-color: #f78a2d;
	padding-top: 0.8%;
	//box-shadow: 0px 10px 10px #888888;
}

.contentcol {
	//position: fixed;
	//width: 12.5%;
	transition: 0.5s;
	padding: 0;
}

#header {
	position: relative;
	z-index: +1;
	background-color: #f78a2d;
	height: 30%;
	text-align: left;
}

#topofnavbar {
	height: 1%;
	position: relative;
	z-index: +1;
}

#navbar {
	position: relative;
	height: 5%;
   	box-shadow: 0 0 10px black;
   	overflow-y: hidden;
 	//z-index: +1 !important;

}

#navlink1:hover {
	color: #65b449;
}

#navlink2:hover {
	color: #6db743;
}

#navlink3:hover {
	color: #7cb743;
}

#navlink4:hover {
	color: #8ab743;
}

#navlink5:hover {
	color: #9abf41;
}

#navlink6:hover {
	color: #c9db37;
}

#navlink7:hover {
	color: #d9e134;
}

#navlink8:hover {
	color: #f7eb33;
}

#navlink1:focus {
	color: #65b449;
}

#navlink2:focus {
	color: #6db743;
}

#navlink3:focus {
	color: #7cb743;
}

#navlink4:focus {
	color: #8ab743;
}

#navlink5:focus {
	color: #9abf41;
}

#navlink6:focus {
	color: #c9db37;
}

#navlink7:focus {
	color: #d9e134;
}

#navlink8:focus {
	color: #f7eb33;
}

#topofnavcol1 {
	background-color: #65b449;
}

#topofnavcol2 {
	background-color: #6db743;
}

#topofnavcol3 {
	background-color: #7cb743;
}

#topofnavcol4 {
	background-color: #8ab743;
}

#topofnavcol5 {
	background-color: #9abf41;
}

#topofnavcol6 {
	background-color: #c9db37;
}

#topofnavcol7 {
	background-color: #d9e134;
}

#topofnavcol8 {
	background-color: #f7eb33;
}


#content {
	height: 64%;
	position: relative;
	z-index: -1;

}

#contentcol1 {
	//position: relative;
	position: fixed;
	width: 12.5%;
	background-color: #65b449;
	//transition: 0.5s;
	z-index: 10;
	//z-index: 20 !important;
	padding: 0;
}

/*
#contentcol1 {
	height: 100%;
    //width: 12.5%;
    //position: fixed;
    z-index: 1; 
   // left: 0;
    //top: 0;
    overflow-x: hidden;
}
*/


#contentcol2 {
	//position: relative;
	position: fixed;
	width: 12.5%;
	left: 12.5%;
	z-index: 9;
	background-color: #6db743;
	padding: 0;
}

#contentcol3 {
	//position: relative;
	position: fixed;
	width: 12.5%;
	left: 25%;
	z-index: 8;
	background-color: #7cb743;
	padding: 0;
}

#contentcol4 {
	//position: relative;
	position: fixed;
	width: 12.5%;
	left: 37.5%;
	z-index: 7;
	background-color: #8ab743;
	padding: 0;
}

#contentcol5 {
	//position: relative;
	position: fixed;
	width: 12.5%;
	left: 50%;
	z-index: 6;
	background-color: #9abf41;
	padding: 0;
}

#contentcol6 {
	//position: relative;
	position: fixed;
	width: 12.5%;
	left: 62.5%;
	z-index: 5;
	background-color: #c9db37;
	padding: 0;
}

#contentcol7 {
	//position: relative;
	position: fixed;
	width: 12.5%;
	left: 75%;
	z-index: 4;
	background-color: #d9e134;
	padding: 0;
}

#contentcol8 {
	//position: relative;
	position: fixed;
	width: 12.5%;
	left: 87.5%;
	z-index:3;
	background-color: #f7eb33;
	transition: right 1s !important;
	padding: 0;

}

#imglogo {
	margin-top: 4%;
	width: 33%;
	height: auto;
}

#logo {
	padding: 0;
}

/*
#ethosimg {
	min-width: 130%;
	margin-left:-15%;
	margin-top: 70%;  
  	height: 40%;
	width: 100%;
	//  -webkit-background-size: contain;
  	//-moz-background-size: cover;
  	//-o-background-size: contain;
  	//background-size: contain;
  	background-size: cover;
  	background-repeat: no-repeat !important;
  	background: 
    linear-gradient(
      rgba(101,180,73
, 0.6), 
      rgba(101,180,73
, 0.03)
    ),
    url(http://thecirclebrighton.com/wp-content/uploads/s02_seedling.jpg) center no-repeat;
}

*/

.gradient {
	position: relative;
	margin-top: 20%;
	width: 100%;
}

#ethosgradient {
	height: 100%;
	
	//margin-top: 20%;
  display:inline-block;
  background: -moz-linear-gradient(to top, rgba(101,180,73
, 1.0) 0%, rgba(101,180,73
, 1.0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,180,73,1)), color-stop(100%,rgba(101,180,73,0.01))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to top, rgba(101,180,73
, 1.0) 0%,rgba(101,180,73
, 1.00) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to top, rgba(101,180,73
, 1.0) 0%,rgba(101,180,73
, 1.0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to top, rgba(101,180,73
, 1.0) 0%,rgba(101,180,73
, 1.0) 100%); /* IE10+ */
  background: linear-gradient(bottom, rgba(101,180,73
, 0.01) 0%,rgba(101,180,73
, 0.01) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.textcontent {
	position: absolute;
	//left: 5%;
	//top: 2%;
	padding: 2%;
	//display: inline-block;
	display: none;
	//visibility: hidden;
}

#mindgradient {
	height: 100%;
  display:inline-block;
  background: -moz-linear-gradient(to top, rgba(109,183,68
, 1.0) 0%, rgba(109,183,68
, 1.0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,183,68,1)), color-stop(100%,rgba(109,183,68,0.01))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to top, rgba(109,183,68
, 1.0) 0%,rgba(109,183,68
, 1.00) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to top, rgba(109,183,68
, 1.0) 0%,rgba(109,183,68
, 1.0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to top, rgba(109,183,68
, 1.0) 0%,rgba(109,183,68
, 1.0) 100%); /* IE10+ */
  background: linear-gradient(bottom, rgba(109,183,68
, 0.01) 0%,rgba(109,183,68
, 0.01) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


#coachgradient {
	height: 100%;
  display:inline-block;

background: -moz-linear-gradient(to top, rgba(124,183,67
, 1.0) 0%, rgba(124,183,67
, 1.0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,183,67,1)), color-stop(100%,rgba(124,183,67,0.01))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to top, rgba(124,183,67
, 1.0) 0%,rgba(124,183,67
, 1.00) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to top, rgba(124,183,67
, 1.0) 0%,rgba(124,183,67
, 1.0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to top, rgba(124,183,67
, 1.0) 0%,rgba(124,183,67
, 1.0) 100%); /* IE10+ */
  background: linear-gradient(bottom, rgba(124,183,67
, 0.01) 0%,rgba(124,183,67
, 0.01) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#fitnessgradient {
	height: 100%;
  display:inline-block;
background: -moz-linear-gradient(to top, rgba(138,182,67
, 1.0) 0%, rgba(138,182,67
, 1.0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,182,67,1)), color-stop(100%,rgba(138,182,67,0.01))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to top, rgba(138,182,67
, 1.0) 0%,rgba(138,182,67
, 1.00) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to top, rgba(138,182,67
, 1.0) 0%,rgba(138,182,67
, 1.0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to top, rgba(138,182,67
, 1.0) 0%,rgba(138,182,67
, 1.0) 100%); /* IE10+ */
  background: linear-gradient(bottom, rgba(138,182,67
, 0.01) 0%,rgba(138,182,67
, 0.01) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#nutritiongradient {
	height: 100%;
  display:inline-block;

background: -moz-linear-gradient(to top, rgba(155,191,65
, 1.0) 0%, rgba(155,191,65
, 1.0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,191,65,1)), color-stop(100%,rgba(155,191,65,0.01))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to top, rgba(155,191,65
, 1.0) 0%,rgba(155,191,65
, 1.00) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to top, rgba(155,191,65
, 1.0) 0%,rgba(155,191,65
, 1.0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to top, rgba(155,191,65
, 1.0) 0%,rgba(155,191,65
, 1.0) 100%); /* IE10+ */
  background: linear-gradient(bottom, rgba(155,191,65
, 0.01) 0%,rgba(155,191,65
, 0.01) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#wellbeinggradient {
	height: 100%;
  display:inline-block;

background: -moz-linear-gradient(to top, rgba(201,219,55
, 1.0) 0%, rgba(201,219,55
, 1.0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,219,55,1)), color-stop(100%,rgba(201,219,55,0.01))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to top, rgba(201,219,55
, 1.0) 0%,rgba(201,219,55
, 1.00) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to top, rgba(201,219,55
, 1.0) 0%,rgba(201,219,55
, 1.0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to top, rgba(201,219,55
, 1.0) 0%,rgba(201,219,55
, 1.0) 100%); /* IE10+ */
  background: linear-gradient(bottom, rgba(201,219,55
, 0.01) 0%,rgba(201,219,55
, 0.01) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


 }


#communitygradient {
	height: 100%;
  display:inline-block;

  background: -moz-linear-gradient(to top, rgba(217,225,52
, 1.0) 0%, rgba(217,225,52
, 1.0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,225,52,1)), color-stop(100%,rgba(217,225,52,0.01))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to top, rgba(217,225,52
, 1.0) 0%,rgba(217,225,52
, 1.00) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to top, rgba(217,225,52
, 1.0) 0%,rgba(217,225,52
, 1.0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to top, rgba(217,225,52
, 1.0) 0%,rgba(217,225,52
, 1.0) 100%); /* IE10+ */
  background: linear-gradient(bottom, rgba(217,225,52
, 0.01) 0%,rgba(217,225,52
, 0.01) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}



/*
#ethosimg{
	margin-top: 64%;
  	position:relative;
  	z-index:-1;
  	display:block;
  	//height:200px; width:auto;
  	height: auto;
  	width: 100%;
}
*/

.img {
	//margin-top: 64%;
  	position:relative;
  	z-index:-100;
  	display:block;
  	height: auto;
  	width: 100%;
}



/*
.overlay {
	background-color: #65b449;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1 !important;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 74%;
    width: 0;
    //width: 100%;
    position: fixed; /* Stay in place */
    //position: absolute;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 36%;
    ..right: 0%;
    background-color: rgba(247, 237, 51, 0.8);
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    //transition: left 1s linear, margin-left 1s ease-out;
    //transition: left 300ms ease-out;

}

.form-group {
	text-align: left;
}

#submitbtn {
	margin-bottom: 100px;
}

#wn-description {
//	font-size:10;
}

.overlay-content {
	color: #818181;
	//text-align: left;
	//font-size: 1;
}

.fu-map {
	margin-top: 25%;
}

textarea {
	height: 100px !important;
}

li {
	margin-top: 10px;
	text-align: center;

}

ul {
	list-style-type: none;
	//text-align: center;
	padding-left: 50%;
	
}

#contact-details {
	text-align: center;
}

/*
.contactlink:link {
	color: #818181 !important;
	text-decoration: none !important;
}

.contactlink:hover {
	font-weight: none !important;
	text-decoration: none !important;
}

.contactlink:focus {
	text-decoration: none !important;
}
*/
.contactlink {
	color: #818181;
}

.contactlink:hover{
	//font-weight: bold;
	text-decoration:  none;
}

.contactlink:focus {
	text-decoration:  none;
}

/*

@media screen and (min-width: 37.5rem) {
p, ul, ol {
    font-size: 1rem;
    line-height: 1.375;
}
}

.main-footer .contact-detail--facebook a {
    color: #3b5998;
}
.main-footer .contact-detail--facebook a::before {
    background-color: #3b5998;
    color: #fff;
    content: "";
}
.main-footer .contact-detail--tel {
    color: #e9542a;
}
.main-footer .contact-detail--tel::before {
    background-color: #e9542a;
    color: #fff;
    content: "";
}
.main-footer .contact-detail--email a {
    color: #f49a1d;
}
.main-footer .contact-detail--email a::before {
    background-color: #f49a1d;
    color: #fff;
    content: "";
    font-size: 1.25rem;
    line-height: 1.2;
}

*/

.item:hover .item-overlay.left {
  left: 0;
}

/* 
by default, overlay is visible… 
*/
.item-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  
  background: rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
  width: 100%; 
  
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.item-overlay.left {
  left: 100%;
}