 body, html, .container-fluid, .row {
         height: 100%;
 }

.navlink {
	color: white;
}

.navlink:hover{
	font-weight: bold;
	text-decoration:  none;
}

.navlink:focus {
	text-decoration:  none;
}


.row {
	color: white;
	text-align: center;
}

.col-md-6 {
	height: 100%;
}

.col-md-3 {
	height: 100%;
}

.navcol {
	background-color: #f78a2d;
	padding-top: 0.8%;
	//box-shadow: 0px 10px 10px #888888;
}

.contentcol {
	transition: 1s;
}

#header {
	position: relative;
	z-index: +1;
	background-color: #f78a2d;
	height: 30%;
	text-align: left;
}

#topofnavbar {
	height: 1%;
	position: relative;
	z-index: +1;
}

#navbar {
	position: relative;
	height: 5%;
   	box-shadow: 0 0 10px black;
   	overflow-y: hidden;
 	//z-index: +1 !important;

}

#navlink1:hover {
	color: #65b449;
}

#navlink2:hover {
	color: #6db743;
}

#navlink3:hover {
	color: #7cb743;
}

#navlink4:hover {
	color: #8ab743;
}

#navlink5:hover {
	color: #9abf41;
}

#navlink6:hover {
	color: #c9db37;
}

#navlink7:hover {
	color: #d9e134;
}

#navlink8:hover {
	color: #f7eb33;
}

#navlink1:focus {
	color: #65b449;
}

#navlink2:focus {
	color: #6db743;
}

#navlink3:focus {
	color: #7cb743;
}

#navlink4:focus {
	color: #8ab743;
}

#navlink5:focus {
	color: #9abf41;
}

#navlink6:focus {
	color: #c9db37;
}

#navlink7:focus {
	color: #d9e134;
}

#navlink8:focus {
	color: #f7eb33;
}

#topofnavcol1 {
	background-color: #65b449;
}

#topofnavcol2 {
	background-color: #6db743;
}

#topofnavcol3 {
	background-color: #7cb743;
}

#topofnavcol4 {
	background-color: #8ab743;
}

#topofnavcol5 {
	background-color: #9abf41;
}

#topofnavcol6 {
	background-color: #c9db37;
}

#topofnavcol7 {
	background-color: #d9e134;
}

#topofnavcol8 {
	background-color: #f7eb33;
}


#content {
	height: 64%;
	position: relative;
	z-index: -1;

}

#contentcol1 {
	//position: relative;
	position: fixed;
	width: 12.5%;
	background-color: #65b449;
	transition: 0.5s;
	z-index: 1; 
	//z-index: 20 !important;
}

/*
#contentcol1 {
	height: 100%;
    //width: 12.5%;
    //position: fixed;
    z-index: 1; 
   // left: 0;
    //top: 0;
    overflow-x: hidden;
}
*/


#contentcol2 {
	//position: relative;
	position: fixed;
	left: 12.5%;
	background-color: #6db743;
}

#contentcol3 {
	//position: relative;
	position: fixed;
	left: 25%;
	background-color: #7cb743;
}

#contentcol4 {
	//position: relative;
	position: fixed;
	left: 37.5%;
	background-color: #8ab743;
}

#contentcol5 {
	position: relative;
	background-color: #9abf41;
}

#contentcol6 {
	position: relative;
	background-color: #c9db37;
}

#contentcol7 {
	position: relative;
	background-color: #d9e134;
}

#contentcol8 {
	position: relative;
	background-color: #f7eb33;
}

#imglogo {
	//background-color: white !important;
}

/*
.overlay {
	background-color: #65b449;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1 !important;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
*/