 body, html, .container-fluid, .row {
         height: 100%;
 }

#test {
	 //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#test2 {
//	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   //  box-shadow: 10px 10px 5px grey;
}

.navlink {
	color: white;
}

#navcol1 {
	color: white;
}

.row {
	color: white;
	text-align: center;
}

.col-md-6 {
	height: 100%;
}

.col-md-3 {
	height: 100%;
}

.navcol {
	background-color: #f78a2d;
	padding-top: 0.8%;
	//box-shadow: 0px 10px 10px #888888;
}


#header {
	position: relative;
	z-index: +1;
	background-color: #f78a2d;
	height: 30%;
	text-align: left;
}

#topofnavbar {
	height: 1%;
	position: relative;
	z-index: +1;
}

#navbar {
	position: relative;
	height: 5%;
   	box-shadow: 0 0 10px black;
   	overflow-y: hidden;
 	//z-index: +1 !important;

}

/*

#fakediv {
	box-shadow: 0 0 30px black;
	z-index: +10 !important;	
}
*/

#content {
	//margin-top: 5px;
	//z-index: -1;
	height: 64%;
	position: relative;
	z-index: -1;

}

#contentcol1 {
	background-color: #65b449;
}

#contentcol2 {
	background-color: #6db743;
}

#contentcol3 {
	background-color: #7cb743;
}

#contentcol4 {
	background-color: #8ab743;
}

#contentcol5 {
	background-color: #9abf41;
}

#contentcol6 {
	background-color: #c9db37;
}

#contentcol7 {
	background-color: #d9e134;
}

#contentcol8 {
	background-color: #f7eb33;
}